/*MENU*/

.navbar {
    background-color: #252525;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: turquoise;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

/*Main page d'accueil*/

/*Images*/

.img-fluid{
    max-width: 100%;
}

/* Images contact*/

.bionichand{
    display: block;
    height: 80px;
    width: 80px;
}
